body {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg, #F788C1, #F7DFC1);
}


main {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

main h1 {
    font-size: 80px;
}

main h2 {
font-size: 100px;
color: black;
background: url(https://static.brusselsairlines.com/_img/destinationPage2/Belgium/Brussels/Brussels_grand_place.jpg) center no-repeat;
}

#click {
    background-color: rgb(168, 59, 119);
    font-style: inherit;
    color: white;
    border-radius: 20px;
    size: 50px 10px;
}